/* Font */
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

/* Reset Line */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #fcc707;
  --secondary-color: #292929;
  --accent-color: #aeafaf;
  --background-color: #ffffff;
  --text-color: #6b6b6c;
}

body {
  min-height: 100vh;
}
/* end body */

/* navigation */
.navigation {
  margin-left: 1rem;
  width: 100%;
  height: 0.6rem;
  display: flex;
  flex-direction: row;
  font-size: 2rem;
  align-items: center;
  margin-top: 2rem;
}

.navigation-header {
  color: var(--primary-color);

  font-weight: 300;
  letter-spacing: 0.1rem;
  text-align: center;
}

.navigation-links {
  display: flex;
  flex-direction: row;
  width: 70%;
  justify-content: end;
  list-style: none;
}

.navigation-item {
  margin-left: 1.2rem;
  font-family: "Titillium Web", serif;
  font-weight: 400;
  margin-top: 2.5rem;
  font-size: 1.8rem;
}

.navigation-item:hover {
  font-size: 2rem;
  text-decoration: underline;
  color: var(--primary-color);
}

.link-item {
  color: var(--primary-color);
  text-decoration: none;
}

.navigation-item:last-child {
  padding-right: 4rem;
}
/* end of navigation */

/* header */
.header {
  height: 80vh;
  width: 100vw;
  display: grid;
  /* border: 12px solid red; */
  margin: 2rem auto;

  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: 1fr 2.4fr 0.5fr 1.5fr 1fr;
  background-color: var(--primary-color);
}

.community {
  /* border: 12px solid green; */

  grid-column: 2/3;
  grid-row: 1/6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
    url("images/community-img-1.avif") center no-repeat;
  background-size: cover;
  margin: 2rem 0 2rem 0;
}

.community-subtitle-container {
  margin-top: 2rem;
}

.community-subtitle {
  color: var(--primary-color);
  font-size: 1.2;
  margin-left: 1.2rem;
  font-family: "Titillium Web", serif;
  font-weight: 600;
}

.community-title {
  color: var(--primary-color);
  font-size: 1.9rem;
  text-align: center;
  letter-spacing: 0.1rem;
  font-family: "Titillium Web", serif;
  font-weight: 800;
}

.community-paragraph {
  margin: 1.5rem 0.4rem 1.5rem 0.4rem;
  color: var(--primary-color);
  font-size: 1rem;
  font-family: "Titillium Web", serif;
  font-weight: 400;
}

.community-btn {
  /* width: 100%; */
  padding: 1rem;

  margin-bottom: 2rem;
  margin-left: 8rem;

  font-size: 1.2rem;
  color: var(--secondary-color);
  border: none;
  background: linear-gradient(
    to top,
    var(--primary-color),
    var(--secondary-color)
  );
  cursor: pointer;
  font-family: "Titillium Web", serif;
  font-weight: 600;
}

.community-btn:hover {
  font-size: 1.5rem;

  background: linear-gradient(to bottom, gold, goldenrod);
}

.community-btn:active {
  transform: translateY(0.2rem);
}

.demo {
  /* border: 12px solid blue; */

  grid-column: 4/5;
  grid-row: 1/6;
  display: flex;
  flex-direction: column;
  justify-content: end;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
    url("images/banana.avif") center no-repeat;
  background-size: cover;
  margin: 2rem 0 2rem 0;
  border-radius: 15%;
}

.demo-title {
  color: var(--primary-color);
  font-size: 1.4rem;
  text-align: center;
  letter-spacing: 0.1rem;
  font-family: "Titillium Web", serif;
  font-weight: 800;
}

.demo-paragraph {
  margin: 1.5rem 0.4rem 1.5rem 0.4rem;
  color: var(--primary-color);
  font-size: 1rem;
  font-family: "Titillium Web", serif;
  font-weight: 400;
}

.demo-btn {
  padding: 1rem;
  margin-bottom: 2rem;
  margin-left: 4rem;

  font-size: 1.2rem;
  color: var(--secondary-color);
  border: none;
  background: linear-gradient(
    to bottom,
    var(--primary-color),
    var(--secondary-color)
  );
  cursor: pointer;
  font-family: "Titillium Web", serif;
  font-weight: 600;
}

.demo-btn:hover {
  font-size: 1.5rem;

  background: linear-gradient(to bottom, gold, goldenrod);
}

.demo-btn:active {
  transform: translateY(0.2rem);
}
/* end of header */

/* Video Container */
.video-container {
  background-color: #d9456a;
  border-color: #453ee3;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: space-around;
  flex-direction: column-reverse;
  writing-mode: vertical-lr;
  font-size: 45px;
  width: 100%;
}

.video-container h1 {
  color: #453ee3;
}

.vertical-text {
  display: flex;
  justify-content: space-around;
  flex-direction: column-reverse;
  writing-mode: vertical-lr;
  font-size: 45px;
}

.video-container iframe {
  width: 100%;
  height: auto;
}
/* End of Video Container */

/* Start of banana-connections section */
.banana-connections {
  background-color: var(--background-color);
  display: flex;
  margin: 5rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
h3 {
  color: var(--secondary-color);
}

.company-images {
  display: flex;
  gap: 2rem;
}

img {
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

/* End of banana-connections section */

/* events section */
.events-container {
  background-color: var(--primary-color);
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
h3 {
  text-align: center;
}

.events {
  padding-top: 2rem;
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 2rem;
}

figure {
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
img {
  object-fit: cover;
  border: 1px solid var(--background-color);
  max-width: 80%;
  height: auto;
  border-radius: 10px;
}

figcaption {
  padding-top: 1rem;
  text-align: center;
}

p {
  padding-top: 0.5rem;
  text-align: center;
}

/* End of events section */

/* Start of payment container*/
.payment-container {
  background-color: #d9456a;
  display: flex;
  flex-direction: column;
}

.text-boxes h1,
.text-boxes h2 {
  color: #453ee3;
  padding: 0.5rem;
}

.payment-container h1,
.payment-container h2,
.payment-container h3,
.payment-container h4,
.payment-container h5 {
  text-align: center;
}
.payment-container h5 {
  width: 20rem;
  font-size: medium;
}

.text-boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  list-style-type: none;
  font-size: 80%;
  padding-bottom: 2rem;
}

.payment-container .text-boxes .box-container .payment-box-1 li {
  text-align: left;
  padding-left: 0.7rem;
}
.box-container .payment-box-2 li {
  text-align: left;
}
.box-container .payment-box-3 li {
  text-align: left;
  padding-left: 0.7rem;
}

.box-container {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;
  gap: 2rem;
}

.payment-box-1 {
  width: 30%;
  display: flex;
  /* flex-direction: row; */
  background-color: #aeafaf;
  /* gap: 1rem; */
  /* padding: 75px;
  margin: 10px; */
  border-radius: 10px;
}

.payment-box-2 {
  width: 30%;
  display: flex;
  flex-direction: row;
  background-color: #fbe886;
  gap: 1rem;
  border-radius: 10px;
}

.payment-box-3 {
  width: 30%;
  display: flex;
  flex-direction: row;
  background-color: #d9456a;
  /* gap: 1rem; */
  border-radius: 10px;
}

.basic-banana {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ripe-n-ready {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.banana-royale {
  border: 1px solid white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button {
  width: 200px;
  height: 20px;
  margin: 10px;
}

/* End of payment container */

/* banana explication  */

.container-explication {
  justify-content: center;
}
.explication-header {
  font-size: 3rem;
  display: flex;
  /* border: 1px solid red; */
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  text-shadow: 2px 2px var(--secondary-color);
}
.explication-heading {
}
.container-explication-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  margin: 3.5rem 15rem 3.5rem 15rem;
}
.container-explication-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-img-item {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  outline: none;
  /* align-items: center; */
}
.container-explication-paragraph {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 1.2rem;
  color: var(--text-color);
}
/* end of banana explication */

/* footer */

.footer-conatainer {
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-heading {
  font-size: 3rem;
  color: var(--primary-color);
  font-weight: 300;
  margin-top: 6rem;
  margin-bottom: 0.6rem;
}

.footer-container-links {
  display: flex;
  transform: translate(6%, 0);
}

.footer-container-link {
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--primary-color);
  padding: 6rem;
}

.footer-container-item {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.footer-container-img {
}

.footer-image {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  outline: none;
  margin: 0.6rem 6rem 2rem 4rem;
  border: 1px solid var(--primary-color);
  margin-left: 5rem;
}

.copyright {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* end of footer */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /* CSS rules for extra small screens */

  html {
    font-size: 8px;
  }
  .window {
    min-width: 375px;
  }

  /* navigation */
  .navigation {
    margin-left: 15rem;
    height: 6rem;

    font-size: 1.2rem;
  }

  .navigation-item {
    margin-top: 2.2rem;
  }

  li:last-child {
    padding-right: 9rem;
  }

  .link-item {
    font-size: 1.1rem;
  }
  /* end of navigation */

  /* header */
  .header {
    /* height: 100vh; */
    width: 100vw;
  }

  .banner {
    height: 25rem;
  }

  .banner-heading {
    font-size: 2.2rem;
  }

  .banner-paragraph {
    font-size: 1.6rem;
  }

  .banner-button {
    width: 6rem;
    padding: 0.8rem 1rem;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    margin-top: 0.2rem;
    border-radius: 4rem;
  }

  /* end of header */
}

/* Small devices (portrait tablets and large phones, 600px to 768px) */
@media only screen and (min-width: 601px) and (max-width: 768px) {
  /* CSS rules for small screens */
}

/* Medium devices (landscape tablets, 768px to 992px) */
@media only screen and (min-width: 769px) and (max-width: 992px) {
  /* CSS rules for medium screens */
}

/* Large devices (laptops/desktops, 992px to 1200px) */
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  /* CSS rules for large screens */
}

/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1201px) {
  /* CSS rules for extra large screens */
}
